:root {
    --correct: #198754;
    --wrong: #bb2d3b;

}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap:10px;
}

.start-next {
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
    padding:0.5rem;
    margin: 10px 20px;
    min-width: 90%;
}

.correct {
    background-color: var(--correct);
}
.wrong {
    background-color: var(--wrong);
}

.btn-answer {
    font-size: 1.5rem;
}

.start-btn, .next-btn {
    font-size: 2rem;
    font-weight: bold;
    background-color: navy;
}

.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    width: 40%
}
.hide {
    display: none;
}

.start-quiz {
    max-width: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
}